/* ===========================
   Comments Page Styles
=========================== */

.CommentsContainer {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
    padding-bottom: 20px;
  }
  