.AddCommentButton {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.AddCommentButton button {
  background-color: #000000;
  /* Red palette */
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: none;
}

.AddCommentButton button:hover {
  background-color: #600000;
}

/* Optimize carousel container for mobile */
.react-multi-carousel-track {
  -webkit-overflow-scrolling: touch;
  /* Smooth touch scrolling */
}

.react-multi-carousel-item {
  transition: transform 0.5s ease-in-out !important;
}