/* Data table styling */
.DataTable {
    width: 100%;
    min-width: 1000px;
    overflow-x: auto;
  }
  
  .MuiDataGrid-root {
    overflow: hidden !important;
  }
  
  .MuiDataGrid-viewport {
    transform: none !important;
  }
  
  .css-1rtad1 {
    left: 0px !important;
  }
  