.ImagePadding {
    
    padding: 20px 0 30px;
}

.ImageContainer {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
}

.HeaderImage {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.HeaderImage:hover {
    
    transform: scale(1.02);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.562);
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Match width of the HeaderImage */
    height: 99%; /* Match height of the HeaderImage */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white; /* Text color */
    display: flex;
    flex-direction: column; /* Stack text vertically */
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Match the image's border radius */
    z-index: 10; /* Ensure overlay is above the image */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional: adds depth to the text */
}

.OverlayContainer {
    padding: 20px;
}

.Overlay p {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin: 0; /* Remove default margins */
    text-align: center; /* Center-align text */
}
